<!doctype html>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %} | ATLFoodFinder</title>
    </head>

    <body>

        <nav class="header">
            <a href="/" class="header-button" id="main-button">ATLFoodFinder</a>
            <div id="side-buttons">
                {% if user.is_authenticated %}
                    <a href="/profile/" class="header-button">Profile</a>
                {% else %}
                    <a href="/login" class="header-button">Log In</a>
                {% endif %}
                <a href="/search" class="header-button">Search</a>
{#                <a href="/register_user" class="header-button">Sign Up !</a>#}
                <a href="/contact" class="header-button">Contact</a>
            </div>
        </nav>

        <div>

        </div>
{#        <img src='images/ItalianRestaurantBackgroundImage.jpg'#}
{#             alt="Aesthetic Restaraunt" class="background-image">#}
        <div id="title">
            {% block content %}
            {% endblock %}
        </div>

{#        <footer>#}
{#            <div style="justify-content: center; display: flex; flex: 1">#}
{#                <p>Footer</p>#}
{#            </div>#}
{#        </footer>#}
    </body>
</html>