{% extends 'core/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <style>
        body {
            background-image: none;
            background-color: lightgray;
        }
    </style>
</head>
    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 50px;">
        <!-- Default Profile Picture -->
        <img src="{% static 'core/defaultPFP.png' %}" alt="Profile Picture" style="width: 150px; height: 150px; border-radius: 50%; border: 2px solid #ccc;">

        <!-- Display the username -->
        <h2 style="margin-top: 20px; color: #3e3d3b">{{ user.username }}</h2>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'saved_restaurants' %}">View Saved Restaurants!</a>
    </div>
    </html>
{% endblock %}