


* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/*
Uncomment the background-image properties in the class below to add a background image.
*/

body {
    flex-direction: column;
    /*background-image: url("https://orders.co/static/99a59eec0735fca313bf2b93349bd5d6/5715c/Italian-Restaurant-Design-Creating-an-Inviting-Ambiance.webp");*/
    background-image: url('../core/images/NiceRestaruant.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: -1px;

    /*background-color: red;*/
    /*outline-color: purple;*/
    /*outline-width: thick;*/
}

p {
    color: white;
}

footer {
    border-top: black;
    border-top-width: thin;
    border-top-style: solid;
    display: flex;
    background-color: black;
    height: 10vh;
    margin-left: -10px;
    width: 101%;
    margin-bottom: -10px;
}

/*
This is the class that controls the styling of the head navigation bar on all the pages.
Have it as a class in case we want to have some of the navigation bars differ based on the screen we're on.
*/
.header {
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 1%;
    /*padding-left: 5%;*/
    /*padding-right: 5%;*/
    display: flex;
    width: 100%;
    align-self: center;
    background-color: #3e3d3b;
    align-items: center;
    border-bottom-color: grey;
    border-bottom-width: medium;
    border-bottom-style: solid;
    margin-bottom: 0;
    z-index: 4;
}

/*
This is the class that controls the styling of the head navigation buttons, such as ATLFoodFinder, Sign Up, Login, etc.
*/
.header-button {
    color: white;
    text-decoration: none;
    margin-right: 5%;
    font-weight: 1000;
    font-size: large;
}

/*
This controls the styling for when a user hovers over the head navigation buttons touched on in the previous class.
*/
.header-button:hover {
    color: gray;
    transition: color 0.5s;
}
.testingBox {
    margin-top: 4.3%;
    width: 50%;
    height: 90%;
    align-self: center;
    justify-self: center;
    margin-left: 1.8%;
}
/*
Should probably rename this. This styles the big words seen on every screen. The first instance of this you see is "Find Food Near You"
*/
#title {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: purple;*/
    flex: 1;
    /*margin: auto;*/
    /*position: relative;*/
    text-align: center;
    flex-direction: column;
    color: white;
    justify-self: center;
    align-self: center;
}

/*
This styles the "ATLFoodFinder" button in the head navigation bar on every screen.
*/
#main-button {
    font-size: x-large;
    margin-left: 2%;
}

/*
This is the div containing all the head navigation bar buttons, excluding the "ATLFoodFinder button".
Using it to align them to the left of the screen.
*/
#side-buttons {
    justify-self: flex-end;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

/*
Styles the "Get Started" button only found on the front page in the index.html file.
*/
#map-button {
    margin-bottom: 50vh;
    font-size: x-large;
    padding: 15px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 15px;
}

/*
Styles the "Get Started" button when hovered over by a user only found on the front page in the index.html file.
*/
#map-button:hover {
    background-color: black;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

/*#loginBackground {*/
/*     background-image: url("/static/core/login.png");*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    height: 100vh; !* Make sure it covers the full height *!*/
/*    margin: 0;*/
/*}*/

